@charset "utf-8";

@font-face {
  font-family: 'iconfont';  /* project id 179390 */
  src: url('//at.alicdn.com/t/font_6qkobra8trxav2t9.eot');
  src: url('//at.alicdn.com/t/font_6qkobra8trxav2t9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_6qkobra8trxav2t9.woff') format('woff'),
  url('//at.alicdn.com/t/font_6qkobra8trxav2t9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_6qkobra8trxav2t9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html, body {
  font-family: sans-serif;
  height:100%;
}
#app{
  height:100%;
}
.bgf8f8f8{
  height:100%;
  background-color: #f8f8f8;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0
}

input, select, textarea {
  font-size: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0
}

abbr, acronym {
  border: 0;
  font-variant: normal
}

del {
  text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500
}

ol, ul {
  list-style: none
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500
}

a:hover {
  text-decoration: none
}

ins, a {
  text-decoration: none
}

::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}


.cl {
  *zoom: 1;

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

.hide{
  display: none !important;
}

.hidden{
  visibility: hidden;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.tl{
  text-align: left;
}

.tc{
  text-align: center;
}

.tr{
  text-align: right;
}

.table-middle {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  text-align: center;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.text-overflow{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@for $i from 1 through 10 {
  .mt-#{$i} { margin-top: 5rem * $i; }
}

@for $i from 1 through 10 {
  .ml-#{$i} { margin-left: 5rem * $i; }
}

@for $i from 1 through 10 {
  .mr-#{$i} { margin-right: 5rem * $i; }
}

@for $i from 1 through 10 {
  .mb-#{$i} { margin-bottom: 5rem * $i; }
}

@for $i from 1 through 10 {
  .pt-#{$i} { padding-top: 5rem * $i; }
}

@for $i from 1 through 10 {
  .pr-#{$i} { padding-right: 5rem * $i; }
}

@for $i from 1 through 10 {
  .pb-#{$i*5} { padding-bottom: (5/ 100 * 1rem) * $i; }
}

@for $i from 1 through 10 {
  .pl-#{$i} { padding-left: 5rem * $i; }
}
