@charset "UTF-8";

.search{
  background: #EFEFEF;
  box-shadow: inset 0 -1px 0 0 #DCDBE4;
  padding: toRem(16) toRem(30);
  & > p{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DCDBE3;
    border-radius: toRem(6);
    font-size: toRem(24);
    color: #A8A8A8;
    height: toRem(56);
    line-height: toRem(56);
    & > i{
      font-size: toRem(32);
      margin-right: toRem(10);
      vertical-align: toRem(-4);
    }
  }
}
